    <div style="padding: 10px 60px; position: sticky; top:0;  background-color: #fff9f2; z-index: 10;">
            <header id="menuBanner" class="topMenu">
                <h1><a href="/home" style="font-size: 40px; font-family: sans-serif; color: #76522D; font-weight: bold;text-decoration: none">LOGO</a></h1>
                <div id="searchBox" >
                    <div id="searchIcon" >
                    <img id=""  style="height: 30px;width: 30px;" src="../images/icons/searchIcon.png" alt=""> 
                    </div>
                    <input type="text" id="searchInput">   
                </div>  
                <div id="profile"  class="menu_button">
                    <a href="/profile/{{_id}}"><img class="profile_pic" style="height: 50px;" src="..\images\profilePicture/{{userImg}}" alt="profile"></a>
                </div>

                <div id="settings"  class="menu_button">
                    <a href="/settings/{{_id}}"><img style="height: 50px; " src="../images/icons/settings.png" alt="settings"></a>
                </div>
            </header>
        </div>