        {{>header user}}
        <div style="display:flex;justify-content:center;margin-top:5%;">
            <div class="wrapperInfo">
                <div class="leftInfo">
                    <form method="post" action="/api/changePhoto" enctype="multipart/form-data">
                    <div style="height:90%">
                            <label for="fileUpload" style="align-self: center;" id="imageUpload">
                                <img id="imgUpload"  alt="" src="..\images\profilePicture/{{user.userImg}}" class="avatar">
                            </label>
                            <input type="file" name="image" id="fileUpload" accept="image/jpeg, image/png" hidden>
                    </div>
                    <button class="button" type="submit"><b>UPLOAD PHOTO</b></button>
                    </form>
                    <button class="logout">
                        <a href="startPage.html" style="text-decoration: none; color: #76522D;">Log Out</a>
                    </button>
    
                </div>
    
               <div class="right">
                   <div class="info">
                       <h3>User Information</h3>
                       <form action="/api/changeUP" method="post" enctype="application/x-www-form-urlencoded">
                          <div class="user-details">
    
                              <div class="input-box">
                                  <span class="details">Full Name</span>
                                  <input type="text" name="full_name" value="{{user.full_name}}">
                              </div>
    
                              <div class="input-box">
                                <span class="details"> Email (Username)</span>
                                <input type="text" name="username" value="{{user.username}}">
                            </div>
                                
                          </div>
    
                            <div class="save">
                                <input type="submit" value="SAVE" onclick="/logout">
                            </div>
    
                       </form>


                       <form action="#" method="post">
                          <div class="user-details">

                              <div class="input-box">
                                <span class="details">Old Password</span>
                                <input type="text" id="username" name="oldPassword">
                                </div>

                                <div class="input-box">
                                    <span class="details">New Password</span>
                                    <input type="password" id="password" name="newPassword">
                                </div>

                                <div class="input-box">
                                    <span class="details">Confirm Password</span>
                                    <input type="password" id="conf_password" name="confirmPassword">
                                </div>


                          </div>

                            <div class="save">
                                <input type="submit" value="SAVE">
                            </div>

                       </form>
                   </div>
    
               </div>
           </div>
        </div>