<link rel="stylesheet" href="/css/startPage.css">
<div id="flex-container"> 
            <h2> LOGO </h2>

            <h1 id="introductory_1"> UNLEASH YOUR </h1>
            <h1 id="introductory_2"> CREATIVITY </h1>
    
            <a id="join" href="/signup"> JOIN </a>
            <a id="log_in" href="/signin"> LOG IN </a>

</div>
