
<link rel="stylesheet" href="/css/signInPage.css">
<script>
    $(document).ready(function () {
    const username = document.getElementById("clientUsername");
    username.addEventListener("input", function (event) {
        if (username.validity.patternMismatch){
            username.setCustomValidity("Please provide a valid email e.g john@gmail.com");
        }
        else{
            username.setCustomValidity("")
        }
    })
    const password = document.getElementById("clientPassword");
    password.addEventListener("input", function (event) {
        if (password.validity.patternMismatch){
            password.setCustomValidity("Minimum eight characters, at least one letter, one number and one special character");
        }
        else{
            password.setCustomValidity("")
        }
    })
})
</script>
<div id="main">
            
            <div id="login_div">
                <h1 id="text_login">LOG IN</h1>
                <h1 id="text_logo">LOGO</h1>
                <div id="form_div">
                    <form action="/signin" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="txtbox">
                            <input type="test"  class="inputbox" name="email" placeholder="EMAIL ADDRESS" id="clientUsername" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>
                        </div>
                        <div class="txtbox">
                            <input type="password" class="inputbox" name="password" placeholder="PASSWORD" id="clientPassword" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" required>
                        </div>
                        
                        <p id="error" style="text-align:center;color:red">{{error}}</p>
                        
                        <div class="txtbox">
                            <input id="submitButton" value="SIGN-IN" type="submit">
                        </div>
                    </form>     
                </div>
                <p id="midline_t"> OR </p>
                <p id="forgotp"><a href="/signup" style="color: #76522d;">Need an account? Sign up now</a></p><br> 
            </div>      
        </div>
<div id="bg-image1"></div>